{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contnet %}
{% if request.user.type == '2' or request.user.type == '3' %}
<br />
<div style="margin: auto; width: 70%; height: 780px; border: solid 3px; border-color: #bdc3c7; border-radius: 4px;"
class="p-4">
        <div class="fs-4">
        <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><center>ARZIJ SHOP - Create RDP</center></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <br/>
                <center><button class="btn btn-primary" type="submit"><b> Submit </b><i class="fa fa-pencil"></i></button>
                </center>                
                <hr />
            </div>
        </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock contnet %}
