<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Sample</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sample</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email Sample</label>
            <p class="text-center">Center aligned text on all viewport sizes.</p>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Country</label>
            <p class="text-center">Center aligned text on all viewport sizes.</p>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Source</label>
            <p class="text-center">Center aligned text on all viewport sizes.</p>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Domain</label>
            <p class="text-center">Center aligned text on all viewport sizes.</p>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Number</label>
            <p class="text-center">Center aligned text on all viewport sizes.</p>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Price</label>
            <p class="text-center">Center aligned text on all viewport sizes.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>